@import './fonts.scss';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #f784ad;
    --purple: #7048e8;
    --purple-2: #5028c6;
    --blue: #374fc7;
    --blue-2: #4263eb;
    --blue-3: #2342c0;
    --blue-4: #334d6e;
    --blue-5: #a0b1f5;
    --blue-6: #192140;
    --blue-7: #0000a1;
    --blue-8: #03e9f4;
    --red: #f03d3e;
    --red-2: #8e0022;
    --grey-1: #f8f9fa;
    --grey-2: #dde2e5;
    --grey-3: #acb5bd;
    --grey-4: #495057;
    --grey-5: #f9fafc;
    --grey-6: #90a0b7;
    --grey-7: #eceffd;
    --grey-8: #c4c4c4;
    --orange: #d84910;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    min-height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    min-width: 100vw;
}

html[data-theme-dark] {
    --grey-4: #ffffff75;
    --white: #212429;
    --black: #ffffff;
    --grey-1: #495057;
    --grey-5: #495057;
    --blue-6: var(--grey-2);
    --red-2: var(--red);
    --blue-7: var(--blue-2);
    --blue-4: var(--blue-2);
    --blue-8: var(--grey-6);
}
